<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.metacoders.dailyearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.splashScreen">


        </activity>
        <activity android:name=".activity.depositActivity" />
        <activity android:name=".activity.PackageDetailsActivity" />
        <activity android:name=".activity.packageListActivity" />
        <activity android:name=".activity.productListActivity" />
        <activity
            android:name=".activity.homePageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".activity.paymentSelectActivity" />
        <activity android:name=".DailyActivity" />
        <activity android:name=".BestOfferActivity" />
        <activity android:name=".AccountSetupActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.withdrawActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.dailyActivity" />
        <activity android:name=".cart" />
        <activity android:name=".activity.FundTransferActivity" />
    </application>

</manifest>